body{
	text-align: left;
	font-family: 'Arial';
	color: #333;
}
h1{
	font-size: 4rem;
}

#cabecera {
	background: #33A;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, .9);
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 1rem 0 1rem .5rem;
}

#cabecera #tagline {
	font-weight: normal;
	font-size: 0.8em;
}

#container {
	width: 70%;
	text-align: left;
	border: 1px solid #DDD;
	margin: 0 auto;
}
#post {	
	padding: 1rem;
	
}